@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
  --accent-color: #4433FF;
  --help-color: #F34C4C;

  --font-family: "Open Sans", sans-serif;
  --bold-font: 700;
  --semibold-font: 600;
  --medium-font: 500;
  --regular-font: 400;
  --light-font: 300;

  --main-heading-size: 30px;
  --secondary-heading-size: 18px;
  --regular-text-size: 15px;
  --logo-text-size: 20px;
}

body[data-theme="light"] {
  --background-color: #E2E2E2;
  --sec-background-color: #FFF;
  --color-text: #000;
  --secondary-color-text: #626262;
}

body[data-theme="dark"] {
  --background-color: #222;
  --sec-background-color: #4F4F4F;
  --color-text: #FFF;
  --secondary-color-text: #a1a1a1;
}

body {
  transition: color .3s ease-in;
  margin: 0;
  background-color: var(--background-color);
  font-family: var(--font-family);
  font-weight: var(--regular-font);
  color: var(--color-text);
  font-size: var(--regular-text-size);
}

h1 {
  font-size: var(--main-heading-size);
  font-weight: var(--bold-font);
}

h2,h3,h4,h5,h6 {
  font-size: var(--secondary-heading-size);
  font-weight: var(--semibold-font);
}

li {
  list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}

input:focus {
  outline: none;
}